.DS_Store
.env
.idea
node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
.deps
.openzeppelin
package-lock.json
script
task
hardhat.config.ts
hardhat.config.js
deploy.sh
deployments
setAddrs.sh
upgrade.sh
remix-compiler.config.js

#Foundry files
out
cache_forge

#zksync files
artifacts-zk
cache-zk