.DS_Store
.env
.idea
node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
.deps
.openzeppelin
package-lock.json
scripts
script
task
hardhat.config.js
deploy.sh
deployments
setAddrs.sh
upgrade.sh
remix-compiler.config.js